In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/Dee-M123/SQL-Mini-Project/refs/heads/main/DATA/RAW/Coffee%20Shop%20Sales%20Analysis_dataset.csv")

In [5]:
df.head(3)

,transaction_id,transaction_date,transaction_time,store_id,store_location,product_id,transaction_qty,unit_price,Total_Bill,product_category,product_type,product_detail,Size,Month Name,Day Name,Hour,Month,Day of Week
0,114301,01-06-2023,11:33:29,3,Astoria,45,1,3.0,3.0,Tea,Brewed herbal tea,Peppermint,Large,June,Thursday,11,6,3
1,115405,02-06-2023,11:18:24,3,Astoria,45,1,3.0,3.0,Tea,Brewed herbal tea,Peppermint,Large,June,Friday,11,6,4
2,115478,02-06-2023,12:02:45,3,Astoria,45,1,3.0,3.0,Tea,Brewed herbal tea,Peppermint,Large,June,Friday,12,6,4

In [6]:
df.columns = (df.columns
      .str.strip()
      .str.lower()
      .str.replace(' ', '_'))

In [7]:
df.columns

Index(['transaction_id', 'transaction_date', 'transaction_time', 'store_id',
       'store_location', 'product_id', 'transaction_qty', 'unit_price',
       'total_bill', 'product_category', 'product_type', 'product_detail',
       'size', 'month_name', 'day_name', 'hour', 'month', 'day_of_week'],
      dtype='object')

**Missing values and duplicates**

In [8]:
df.isna().sum()

transaction_id      0
transaction_date    0
transaction_time    0
store_id            0
store_location      0
product_id          0
transaction_qty     0
unit_price          0
total_bill          0
product_category    0
product_type        0
product_detail      0
size                0
month_name          0
day_name            0
hour                0
month               0
day_of_week         0
dtype: int64

In [16]:
df.duplicated().sum()

np.int64(0)

**Numeric columns and dates**

In [17]:
# ID columns
id_cols = ["transaction_id", "store_id", "product_id"]
for col in id_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce").astype("Int64")

In [21]:
# Date
df["transaction_date"] = pd.to_datetime(
    df["transaction_date"], errors="coerce"
)

df['transaction_date'] = pd.to_datetime(
    df['transaction_date'], dayfirst=True
).dt.strftime('%Y-%m-%d')

In [ ]:
# Numeric business fields
df["transaction_qty"] = pd.to_numeric(df["transaction_qty"], errors="coerce")
df["unit_price"] = pd.to_numeric(df["unit_price"], errors="coerce")
df["total_bill"] = pd.to_numeric(df["total_bill"], errors="coerce")

In [19]:
# Time
df["transaction_time"] = pd.to_datetime(
    df["transaction_time"], format="%H:%M:%S", errors="coerce"
).dt.time

In [24]:
df.to_csv("coffee_sales_sql_ready.csv", index=False)