In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("https://raw.githubusercontent.com/Dee-M123/SQL-Mini-Project/refs/heads/main/DATA/Cleaned%20Data/coffee_sales_sql_ready.csv")

In [27]:
df.head(3)

,transaction_id,transaction_date,transaction_time,store_id,store_location,product_id,transaction_qty,unit_price,total_bill,product_category,product_type,product_detail,size,month_name,day_name,hour,month,day_of_week
0,114301,2023-06-01,11:33:29,3,Astoria,45,1,3.0,3.0,Tea,Brewed herbal tea,Peppermint,Large,June,Thursday,11,6,3
1,115405,2023-06-02,11:18:24,3,Astoria,45,1,3.0,3.0,Tea,Brewed herbal tea,Peppermint,Large,June,Friday,11,6,4
2,115478,2023-06-02,12:02:45,3,Astoria,45,1,3.0,3.0,Tea,Brewed herbal tea,Peppermint,Large,June,Friday,12,6,4

In [28]:
df.shape

(149116, 18)

In [29]:
df.columns = (df.columns
      .str.strip()
      .str.lower()
      .str.replace(' ', '_'))

In [30]:
df.head(2)

,transaction_id,transaction_date,transaction_time,store_id,store_location,product_id,transaction_qty,unit_price,total_bill,product_category,product_type,product_detail,size,month_name,day_name,hour,month,day_of_week
0,114301,2023-06-01,11:33:29,3,Astoria,45,1,3.0,3.0,Tea,Brewed herbal tea,Peppermint,Large,June,Thursday,11,6,3
1,115405,2023-06-02,11:18:24,3,Astoria,45,1,3.0,3.0,Tea,Brewed herbal tea,Peppermint,Large,June,Friday,11,6,4

In [31]:
df["transaction_date"].isna().sum()

np.int64(0)

In [32]:
df.isna().sum()

transaction_id      0
transaction_date    0
transaction_time    0
store_id            0
store_location      0
product_id          0
transaction_qty     0
unit_price          0
total_bill          0
product_category    0
product_type        0
product_detail      0
size                0
month_name          0
day_name            0
hour                0
month               0
day_of_week         0
dtype: int64

In [33]:
df.duplicated().sum()

np.int64(0)

**We have established that we have duplicated rows and no null values, so we can create our tables for SQL**

In [34]:
stores = df[['store_id', 'store_location']].drop_duplicates()

In [35]:
stores.shape

(3, 2)

In [36]:
stores.to_csv("stores_sql.csv", index=False)

In [37]:
products = df[['product_id', 'product_category', 'product_type',
     'product_detail', 'size', 'unit_price']
].drop_duplicates()

In [38]:
products.to_csv("products_sql.csv", index=False)

In [39]:
transactions = df[['transaction_id', 'transaction_date', 'transaction_time',
     'store_id', 'product_id',"transaction_qty", 'total_bill',
     'hour', 'day_name', 'month', 'month_name', 'day_of_week']
]

In [40]:
transactions.to_csv("transactions_sql.csv", index=False)